

body {
	background-color:#FFEBE0;

}
h1 {
	text-align: center;
	color: #2E0013;
	font-family: 'Shadows Into Light', normal;
	font-size: 75px;

}
h2, h3, h4 {
	display: inline;
	font-family: 'Shadows Into Light', normal;
	font-size: 40px;
}
img {
	display: block;
	margin: auto;
	 width: 200px;
	 height: auto;
	 border: 10px solid white;
	 border-radius: 300px;
	 position: center;
	}


p {
	font-family: 'Neucha', normal;
}

.first{ 
	margin: 0 20px 0 0;
	width: 200px

}