

body {
	background: url(http://i.imgur.com/jm4JcrP.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
	
header {
	  height: 850px;
	  width: auto;
      text-align: center;
      background: url(http://i.imgur.com/zAQTQkI.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1110px auto;
      margin-top: -80px;
    }
h1 {
	text-align: center;
	font-family: 'Pacifico', normal;
	font-size: 100px;
	color: black;
	padding: 250px 0 0 0;
	line-height: 30px;
	

}
h2, h3, h4 {
	font-family: 'Pacifico', normal;
	font-size: 40px;
	text-align: center;
	color: black;
	margin: 10px 0 -20px 0;

}

p {
	font-family: 'Neucha', normal;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	color: black;
	margin: 40px 10px 40px 10px;

}	
   

div.transbox {
	width: 600px;
    height: 300px;
    background-color: #ffffff;
    opacity: 0.6;
    margin: auto;
    padding: -30px 0;
    border-radius: 100px;
}

.line {
	border: 2px dashed black;
	max-width: 800px;
	position: relative;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;

}

.me {
	border-radius: 150px;
	padding: -20px auto;
}

div.image {
   position: relative;
   left: -90px;
   bottom: -130px;
}
div.image p {
	position: relative;
	left: 160px;
	bottom: 10px;
}
div.imageb {
   position: absolute;
   top: 0px;
   right: 0px; 
}
div.imageb p {
	position: absolute;
	top: 115px;
	right: 45px;
}


.slideshow { 
	position: relative;
	margin: auto;
    padding: -30px 0;
}

.circles {
	position: relative;
	display: inline-block;
	float:left;
	padding:10px;
}





