

body {
	background-repeat: no-repeat;
	background-color: #FFEBE0;
	background: linear-gradient(left, rgba(255, 102, 102, 1), rgba(0,0,0,.4));
  	background: -webkit-linear-gradient(left, rgba(255, 102, 102, 1), rgba(255, 255, 215, 0.4));
  	background: -moz-linear-gradient(left, rgba(255, 102, 102, 1), rgba(255, 255, 215, 0.4));

}
header {
      text-align: center;
      background-size: stretch;
      background: url(http://i.imgur.com/ne9sIGT.jpg);
      background-repeat: no-repeat;
     
      margin: -35px 0 0 0;
    }
h1 {
	text-align: center;
	font-family: 'Shadows Into Light', normal;
	font-size: 75px;
	color: #4C001F;
	margin-bottom: -30px

}
img {
	border-radius: 150px;
	margin: 40px;

}
h2, h3, h4 {
	font-family: 'Shadows Into Light', normal;
	font-size: 40px;
	text-align: center;
	margin: 20px 0 20px 0
}

p {
	font-family: 'Neucha', normal;
	text-align: center;
	margin: -10px 0px -10px 0;
	
}

.line {
	border: 3px dotted black;
}